                                                        * {
                                                            box-sizing: border-box;
                                                            font-family: 'Cairo', sans-serif;
                                                            text-align: center;
                                                        }
                                                        
                                                        body {
                                                            margin: 0;
                                                            /*  display: grid;*/
                                                            place-items: center;
                                                            min-height: 100vh;
                                                            background: url(../imgs/background.jpg);
                                                            background-size: cover;
                                                            background-attachment: fixed;
                                                        }
                                                        
                                                        header {
                                                            width: 100%;
                                                            height: 80px;
                                                            background-color: rgb(6, 11, 56);
                                                            border-bottom: 3px solid #b10909;
                                                            margin: 0;
                                                        }
                                                        
                                                        img {
                                                            float: right;
                                                            height: 80%;
                                                            width: 120px;
                                                            margin-right: 5px;
                                                            margin-top: 7PX;
                                                        }
                                                        
                                                        #h2head {
                                                            line-height: 94%;
                                                            text-align: center;
                                                            float: right;
                                                            padding: 0 15px;
                                                            color: white;
                                                            height: 30px;
                                                            font-size: 15px;
                                                            margin-bottom: 10px;
                                                        }
                                                        
                                                        #pic {
                                                            float: left;
                                                            height: 90%;
                                                            width: 500px
                                                        }
                                                        
                                                        nav {
                                                            width: 100%;
                                                            height: 59px;
                                                            background-color: rgba(6, 11, 56, 0.794);
                                                            border-bottom: 3px solid #b10909;
                                                        }
                                                        
                                                        nav ul {
                                                            list-style: none;
                                                            float: right;
                                                            height: 30px;
                                                            display: flex;
                                                            text-align: center;
                                                            margin-right: 50px;
                                                            margin-top: 0px;
                                                            margin-bottom: 5px
                                                        }
                                                        
                                                        li {
                                                            width: 50px;
                                                            height: 30px;
                                                            margin-right: 20px;
                                                        }
                                                        
                                                        nav ul li a {
                                                            text-decoration: none;
                                                            color: white;
                                                            font-size: 14px;
                                                            margin-bottom: 5px
                                                        }
                                                        
                                                        #nav {
                                                            display: flex;
                                                            text-align: center;
                                                            align-items: flex-end;
                                                            width: 10px;
                                                            height: 10px;
                                                        }
                                                        
                                                        .container {
                                                            position: absolute;
                                                            padding: 16px;
                                                            top: 50%;
                                                            left: 50%;
                                                            transform: translate(-50%, -50%);
                                                            width: 50%;
                                                            background-color: #FAFAFA;
                                                            text-align: center;
                                                            border-radius: 4px;
                                                            text-transform: uppercase;
                                                            text-align: center;
                                                        }
                                                        
                                                        .title-box {
                                                            margin: 25px 0;
                                                            display: flex;
                                                            flex-direction: row;
                                                            flex-wrap: nowrap;
                                                            justify-content: space-around;
                                                            align-items: center;
                                                            width: 100%;
                                                            font-size: 1.5em;
                                                        }
                                                        
                                                        .title-box #goals {
                                                            font-size: 1.8em;
                                                        }
                                                        
                                                        .team {
                                                            width: 100px;
                                                        }
                                                        
                                                        .team img {
                                                            height: 54px;
                                                            width: 54px;
                                                        }
                                                        
                                                        .matches-table {
                                                            margin-top: 50px;
                                                            display: flex;
                                                            flex-direction: column;
                                                        }
                                                        
                                                        .match-tile {
                                                            position: relative;
                                                            left: 50%;
                                                            transform: translateX(-50%);
                                                            margin: 10px 0;
                                                            display: flex;
                                                            flex-direction: row;
                                                            justify-content: space-around;
                                                            align-items: center;
                                                        }
                                                        
                                                        .match-tile img {
                                                            width: 52px;
                                                            height: 52px;
                                                        }
                                                        
                                                        .match-tile p {
                                                            font-size: 1.2rem;
                                                        }
                                                        
                                                        .match-tile #goals {
                                                            font-size: 1.8rem;
                                                        }
                                                        
                                                        .match-tile .team {
                                                            width: 100px;
                                                        }